<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Special Request Form
      </div>
      <div class="card-body">
        <form [formGroup]="FoodForm" (ngSubmit)="submit()">
          <!-- <label for="description" class="form-label">Food Description</label>-->

          <!-- <input
              type="text"
              class="form-control"
              [(ngModel)]="description"
              name="username"
            /> -->
          <div class="form-group col-12">
            <label for="description" class="form-label">Food Description</label>
            <input type="text" class="form-control" required formControlName="description" />
            <span *ngIf="!description.valid && description.touched" class="error-block">
              <span *ngIf="description.hasError('required')">
                Please enter your food description
              </span>
            </span>
          </div>


          <div class="form-group col-12">
            <label for="comment" class="form-label">Comment</label>
            <textarea type="textarea" class="form-control" required formControlName="comment" maxlength="75"></textarea>
            <span *ngIf="!comment.valid && comment.touched" class="error-block">
              <span *ngIf="comment.hasError('required')">
                Please enter your comment
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="date" class="form-label">Choose a date</label>
            <br />
            <kendo-datepicker [min]="min" [max]="max" [format]="format" [(value)]="value"></kendo-datepicker>
          </div>
          <div class="form-group col-12">
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <button mat-raised-button type="submit" 
                style="background-color: #ee2309; color: #fff;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>