<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>

<div class="col-12 m-auto">
    <div class="fixedPositionOptions" *ngIf="!_loading">
        <mat-grid-list cols="4" rowHeight="90">
            <mat-grid-tile [colspan] = "1" [rowspan] = "1">
                <!-- Search -->
                <mat-form-field>
                  <mat-label >Search</mat-label>
                  <input
                    matInput (keyup)="applyFilter($event)" placeholder="Ex. Mine Frite" [(ngModel)]="search"
                  />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan] = "1" [rowspan] = "1">
                <!-- Filter Category -->
                <mat-form-field class="dropdowns">
                  <mat-label >Category</mat-label>
                  <mat-select 
                    [(value)]="selectedCategory"
                    (selectionChange)="handleDropdownChange($event, 'category_name')"
                  >
                    <mat-option *ngFor="let category of categoryOptions" [value]="category.category_id">
                      {{ category.category_name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan] = "1" [rowspan] = "1" >
                <button mat-raised-button color="primary" style=" color: #fff; margin-right: 2vh;"
                (click)="frame.show()" data-toggle="modal"
                style="background-color: #ee2309; color: #fff;" >
                <mat-icon>add</mat-icon>
                Create Food
                </button>
            </mat-grid-tile>

            <mat-grid-tile [colspan] = "1" [rowspan] = "1" >
                <button mat-raised-button color="primary" style=" color: #fff; "
                (click)="category.show()" data-toggle="modal"
                style="background-color: #ee2309; color: #fff;" >
                <mat-icon>add</mat-icon>
                Category
                </button>
            </mat-grid-tile>
            
              
        </mat-grid-list>

        <button mat-raised-button *ngIf="showClearButton" color="accent" style=" color: #7c2855; margin-right: 2vh;" (click)="clearFilters()">
            Clear Filters
        </button>

    </div>

    <div class="mat-elevation-z8" style="overflow-x:scroll;" *ngIf="!_loading">
    <table mat-table [dataSource]="dataSource" matSort *ngIf="!_loading">
        
        <ng-container matColumnDef="food_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Name </th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                <span class="text-truncate">{{row.food_name}} </span>
            </ng-container>
            <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="New Food Name" [disabled]="editDisabled" name="food_name" [(ngModel)]="row.food_name">
                  </mat-form-field>
            </ng-container>
        </td>
        <!-- <td mat-cell *matCellDef="let row"> {{row.food_name}} </td> -->
        </ng-container>
    
        <ng-container matColumnDef="food_description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                <span class="text-truncate">{{row.food_description}} </span>
            </ng-container>
            <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="New Food Description" [disabled]="editDisabled" name="food_description" [(ngModel)]="row.food_description">
                  </mat-form-field>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="category_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <span class="text-truncate">{{row.category_name}} </span>
                </ng-container>
                <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <mat-form-field appearance="outline">
                        <select matNativeControl placeholder="Category" [disabled]="editDisabled" name="category_name" [(ngModel)]="newFoodRow.category_id">
                            <option *ngFor="let categorydata of categoryOptions" [value]="categorydata.category_id">
                                {{categorydata.category_name}}  <!--Bug: catgeoryname is not changing as categoryId is bound by ngModel-->
                            </option>
                        </select>
                    </mat-form-field>
                </ng-container>
            </td>
        </ng-container>


        <ng-container matColumnDef="food_price" >
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <span class="text-truncate">{{row.food_price}} </span>
                </ng-container>
                <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="New Food price" [disabled]="editDisabled" name="food_price" [(ngModel)]="row.food_price">
                      </mat-form-field>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="food_limit" >
            <th mat-header-cell *matHeaderCellDef> Limit </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <span class="text-truncate">{{row.food_limit}} </span>
                </ng-container>
                <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="New Food limit" [disabled]="editDisabled" name="food_limit" [(ngModel)]="row.food_limit">
                      </mat-form-field>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="isVeg" >
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <span *ngIf="!row.isVeg"> Non-Veg</span>
                    <span *ngIf="row.isVeg"> Veg </span>
                </ng-container>
                <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Select" [disabled]="editDisabled" name="isVeg" [(ngModel)]="newFoodRow.isVeg">
                          <mat-option [value]="true">Veg</mat-option>
                          <mat-option [value]="false">Non-Veg</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </td>  
        </ng-container>

        <ng-container matColumnDef="food_rating" >
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let row">
                <span> {{row.food_rating}} </span>
            </td>            
        </ng-container>

        <!--edit image-->
        <ng-container matColumnDef="editimage"  >
            <th mat-header-cell *matHeaderCellDef>Image </th>
            <td mat-cell *matCellDef="let row">
                <div class="form-group" *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <input 
                      type="file" 
                      accept=".png, .jpg, .jpeg" 
                      name="upload"
                      (change)="handleFileInput($event.target.files)">                   
                </div>
                <div *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <span>Set</span>
                </div>
            </td>            
        </ng-container>

        <!--Actions Buttons-->
        <ng-container matColumnDef="edit" >
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newFoodRow.food_id || !row.food_id || row.food_id!==newFoodRow.food_id">
                    <div class="button-container">
                        <button
                        (click)="handleEdit(row)"
                          class="action_buttons"
                          style="background-color: #889700; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>create</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="newFoodRow.food_id && row.food_id && row.food_id===newFoodRow.food_id">
                    <button
                        (click)="confirmEdit()"
                        [disabled]="editDisabled" 
                          class="action_buttons"
                          style="background-color: #0d9c31; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>check</mat-icon>
                        </button>

                        <button
                        (click)="cancelEdit()"
                        [disabled]="editDisabled" 
                          class="action_buttons"
                          style="background-color: #e40909; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="delete" >
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let row">
            <div class="button-container">
                <button
                (click)="handleDelete(row.food_name)"
                  class="action_buttons"
                  style="background-color: #eb0808; color: #fff;"
                  mat-mini-fab
                >
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>

    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <app-addfood></app-addfood>
        </div>
    </div>

    <div mdbModal #category="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <app-managecategory></app-managecategory>
        </div>
    </div>

</div>

<!-- https://medium.com/@imvikaskohli/how-to-make-an-inline-editable-mat-table-using-the-edit-button-in-angular-947fd61731cf -->
