<!-- <div class="outer">
  <mat-spinner></mat-spinner>
</div> -->

<!-- <div class="preloader"> -->
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">{{title || 'SdFoodx'}}</p>
    </div>
  <!-- </div> -->
  