<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div *ngIf="!_loading">
  <div class="padding">
    <mat-grid-list cols="3" rowHeight="55">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field>
          <mat-label >Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Mine Frite"
            [(ngModel)]="search"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="dropdowns">
          <mat-label>Category</mat-label>
          <select
            matNativeControl
            [(ngModel)]="selectedCategory"
            (change)="handleDropdownChange()"
          >
            <option [value]="'0'">All</option>
            <option
              *ngFor="let category of categoryOptions"
              [value]="category.category_id"
            >
              {{ category.category_name }}
            </option>
          </select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button
        mat-raised-button
        *ngIf="showClearButton"
        class="clearButton"
        (click)="clearFilters()"
      >
        Clear Filters
      </button>
      </mat-grid-tile>
    </mat-grid-list> 

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.emp_name }}</td>
      </ng-container>

      <ng-container matColumnDef="food_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Name</th>
        <td mat-cell *matCellDef="let row">{{ row.food_name }}</td>
      </ng-container>
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.Quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.orderDate.substr(0, 10) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>

        <td mat-cell *matCellDef="let row">
          <ng-container
            *ngIf="
              !newOrderRow.food_id ||
              !row.food_id ||
              row.food_id !== newOrderRow.food_id
            "
          >
            <span class="text-truncate">{{ row.comment }} </span>
          </ng-container>
          <ng-container
            *ngIf="
              newOrderRow.food_id &&
              row.food_id &&
              row.food_id === newOrderRow.food_id
            "
          >
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="New Comment"
                [disabled]="editDisabled"
                name="food_description"
                [(ngModel)]="row.comment"
              />
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <!--Edit action-->
      <ng-container matColumnDef="edit_comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit Comment</th>
        <td mat-cell *matCellDef="let row">
          <button
            *ngIf="
              !newOrderRow.food_id ||
              !row.food_id ||
              row.food_id !== newOrderRow.food_id
            "
            style="background-color: #194ee2; color: #fff;"
            mat-mini-fab
            (click)="handleEdit(row)"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            *ngIf="
              newOrderRow.food_id &&
              row.food_id &&
              row.food_id === newOrderRow.food_id
            "
            (click)="confirmEdit()"
            [disabled]="editDisabled"
            class="action_buttons"
            style="background-color: #0d9c31; color: #fff;"
            mat-mini-fab
          >
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <!--action-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.status != 1">
            <button
              (click)="
                changeStatus(row.order_id, row.food_id, row.orderDate, 1)
              "
              class="action_buttons"
              style="background-color: #0e8f43; color: #fff;"
              mat-mini-fab
            >
              <mat-icon>done</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="row.status != 2">
            <button
              (click)="
                changeStatus(row.order_id, row.food_id, row.orderDate, 2)
              "
              style="background-color: #dd0e07; color: #fff;"
              class="action_buttons"
              mat-mini-fab
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <!--action-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>

  <div
    mdbModal
    #frame="mdbModal"
    class="modal fade top"
    id="frameModalTop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <app-addfood></app-addfood>
    </div>
  </div>
</div>
