@import '~@angular/material/prebuilt-themes/indigo-pink.css';
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
.mat-select-trigger {color: #7c2855 !important; }

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

table{
  background-color: rgb(238, 232, 232);
  
}
td{
  color:rgb(126, 116, 116);
}

th{
  color:black;
}

.button-container {
  display: inline-block;
  margin-right: 10px;
  outline: none;
  /* float: right !important;
  text-align: right !important; */
}

.padding{
  margin-bottom: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action_buttons {
  width: 40px;
  height: 40px;
}

.clearButton{
  background-color: #7c2855;
  margin-right: 2vh;
  color:white;
}