.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 500;
    height: auto;
    max-height: 500px;
    overflow-y: auto; }

.card{
    margin:10px;
    border-bottom: solid orange;
    height: 80px;
    
}

.emptycart{
    height: 300px;
    justify-content: center;
}