<div class="modal-content form-elegant">
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold " id="myModalLabel">Your cart</h3>
    </div>
    <div *ngIf="selectedFoodList.length==0" class="emptycart">
        <img src="assets/images/empty-cart.png" width="500" height="350">
    </div>
    <div class="modal-body mx-6" *ngIf="selectedFoodList.length>0">   
        <div *ngFor="let food of selectedFoodList" >
            <mat-card class="card">
                <mat-card-content>
                    <mat-grid-list cols = "8" >
                        <mat-grid-tile [colspan] = "2" [rowspan] = "1">{{food.orderDate}}</mat-grid-tile>
                        <mat-grid-tile style="align-content: left" [colspan] = "3" [rowspan] = "1">{{food.foodName}}</mat-grid-tile>
                        <mat-grid-tile [colspan] = "1" [rowspan] = "1">{{food.quantityBought}}</mat-grid-tile>
                        <mat-grid-tile [colspan] = "1" [rowspan] = "1">Rs {{food.totalPrice}}</mat-grid-tile>
                        <mat-grid-tile [colspan] = "1" [rowspan] = "1">
                            <button
                                (click)="handleDelete(food)"
                                class="action_buttons"
                                style="background-color: #eb0808; color: #fff;"
                                mat-mini-fab
                                >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list> 
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text-center mb-3">
            You can order for another date before confirming
            <button type="submit" mdbBtn style="background-color: orange;" block="true" rounded="true" class="btn"
            (click)="confirmOrder()"
                    mdbWavesEffect>Confirm
            </button>
        </div>
    </div>
</div>
  