<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div *ngIf="!_loading">
  <div class="empty" *ngIf="orders.length==0">
    <h2>You don't have any orders for today</h2>
    <img src='assets/images/emptyorders.png' width=300 height=500>
  </div>
  <div class="grid" *ngIf="orders.length>=0">
    <div *ngFor="let order of orders" style="margin: 10px; width: 270px;" class="grid-item">
      <app-ordercard
       (refreshMyOrders)="refreshPage($event)"
       [foodname]="order.food_name" 
       [quantity]="order.quantity" 
       [comment]="order.comment"
       [orderdate]="order.orderDate" 
       [foodid]="order.food_id" 
       [price]="order.price" [status]="order.status"
       [orderid]="order.orderId" 
       [foodimage]="order.food_image"></app-ordercard>
    </div>
  </div>
</div>
