<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div *ngIf="!_loading">
    <div class="fixedPositionOptions">
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="dropdowns ">
                    <mat-label>Category</mat-label>
                    <select matNativeControl [(ngModel)]="selectedCategory" (change)="handleCategory()">
                        <option [value]="'0'">All</option>
                        <option *ngFor="let category of allCategories" [value]="category.category_id">
                            {{ category.category_name }}
                        </option>
                    </select>
                </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span>Choose a date: </span>
                <kendo-datepicker [min]="MinDate" [max]="MaxDate" [format]="format" [ngModel]="value"
                    (ngModelChange)="handleDateChange($event)">
                </kendo-datepicker>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span>Total price: {{totalPrice}}</span>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button (click)="frame.show()" data-toggle="modal"
                    style="background-color: #ee2309; color: #fff;">
                    <mat-icon>shopping_cart</mat-icon>View Cart
                </button>
            </mat-grid-tile>
    
        </mat-grid-list>
        <h3>Menu available this {{selectedDay}}</h3>
    </div>
    
    <div class="col-12 m-auto" class="foodcardbox">
        <div class="grid">
            <div *ngFor="let food of selectedCategoryFoodList" style="margin:10px; width:270px;" class="grid-item"> 
                <app-foodcard
                    (cartFood)="addToCart($event)"
                    [foodId]="food.food_id"
                    [name]="food.food_name"
                    [description]="food.food_description"
                    [price]="food.food_price"
                    [limit]="food.food_limit"
                    [isVeg]="food.isVeg"
                    [foodimage]="food.food_image"
                ></app-foodcard>
            </div>
        </div>
    </div>
    
    <!--Modal to View Cart-->
    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <app-mycart [foodList]="selectedFoodList"></app-mycart>
        </div>
    </div>
</div>
