.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 500;
    height: auto;
    max-height: 400px;
    overflow-y: auto; }

    .form-elegant .modal-header {
        height: 30px;
    border-bottom: none; }
body {
    font-family: "Lato", sans-serif;
    overflow: auto;
  }

  .card{
    margin:10px;
    border-bottom: solid orange;
    height: 70px;
}

  .spinner{
    margin: 0 auto;
  }
  
  .error{
    color: red;
  }
  
  * {
    box-sizing: border-box;
  }

  
  /* Add styles to the form container */

  /* Full-width input fields */
    input[type=text],input[type=number],.radioContainer {
    width: 100%;
    padding: 15px;
    margin: 5px 5px 5px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #455A64;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity:1.0;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .main {
    padding: 0px 10px;
  }
  
  .ng-invalid.ng-touched {
    border-color: red;
  }
  .error-block {
    color: red;
  }
  
  