<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div class="modal-content form-elegant">

    <div class="modal-header text-center">
        <h3
          class="modal-title w-100 dark-grey-text font-weight-bold"
          id="myModalLabel"
        >
          Manage Category
        </h3>
    </div>

      <div class="modal-body mx-6">
        <form
        [formGroup]="addCategoryForm"
        (ngSubmit)="createCategory()"
        class="container"
        style="overflow: auto;"
        >
            <mat-grid-list cols = "10" >
                <mat-grid-tile [colspan] = "8" [rowspan] = "1">
                        <input
                        type="text"
                        placeholder="Create Category"
                        class="form-control"
                        formControlName="categoryname"
                        />
                </mat-grid-tile>
                <mat-grid-tile [colspan] = "2" [rowspan] = "1">
                    <button mat-raised-button color="primary" style=" color: #fff; " type="submit" data-toggle="modal"
                    style="background-color:  orange; color: #fff;" >
                    Save
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
      
        </form> 
      </div>

      


      <div class="modal-body mx-6">
        <div *ngFor="let categorydata of allCategories" >
        <mat-card class="card">
            <mat-card-content>
                <mat-grid-list cols = "8"  >
                    <mat-grid-tile [colspan] = "7" [rowspan] = "1">
                        {{ categorydata.category_name }}</mat-grid-tile>
                    <!-- <mat-grid-tile style="align-content: left" [colspan] = "3" [rowspan] = "1">rhrhffg</mat-grid-tile>
                    <mat-grid-tile [colspan] = "1" [rowspan] = "1">grgG</mat-grid-tile>
                    <mat-grid-tile [colspan] = "1" [rowspan] = "1">GRWHYUw5u</mat-grid-tile> -->
                    <mat-grid-tile [colspan] = "1" [rowspan] = "1">
                        <button
                            (click)="handleDelete(categorydata.category_name)"
                            class="action_buttons"
                            style="background-color: #eb0808; color: #fff; align-content: left;"
                            mat-mini-fab
                            >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list> 
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>