<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>

<div class="root" *ngIf="!_loading">
  <div class="board">
    <div class="board-wrapper">
      <div class="col-3  " cdkDropListGroup>
        <div class="   " style="width: 100%!important; overflow-x: auto;">
          <div class="board-columns " style="min-height: 65vh;margin-top: 20px; 
            ">
            <div class="board-column  " *ngFor="let cols of fixed" style="
            height: 70vh;">

              <div class="column-title" style="display: flex;justify-content: space-between;"> {{cols.name}}

              </div>

              <div class="example-list" cdkDropList id="{{fixed[0].name}}" [cdkDropListData]="fixed[0].tasks"
                [cdkDropListConnectedTo]="connect" (cdkDropListDropped)="drop($event)" style="height: 50vh;
                ">
                <div class="task" *ngFor="let item of fixed[0].tasks" cdkDrag>
                  {{item.food_name}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="" cdkDropListGroup>
          <div class="board-columns" cdkDropList #reviewList="cdkDropList" [cdkDropListData]="all"
            style="min-width: 65vh;margin-top: 20px;overflow-x: scroll;overflow-y: hidden;"
            (cdkDropListDropped)="drop($event)">
            <div class="board-column " style="
            height: 70vh;
        " (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="returnhome($event)"
              *ngFor="let cols of all">

              <div class="column-title" style="display: flex;justify-content: space-between;"> {{cols.name}}
                <!-- <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                  </path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg> -->
              </div>


              <div class="example-list" cdkDropList id="{{cols.name}}" [cdkDropListData]="cols.tasks"
                [cdkDropListConnectedTo]="connect" (cdkDropListDropped)="drop($event,cols)" style="height: 50vh;">
                <div class=" task" *ngFor="let item of cols.tasks;let indexOfelement=index;"
                  style="display: flex;justify-content: space-between; text-align: center;" cdkDrag>

                  {{item.food_name}}
                  <mat-icon (click)="deleteCard(cols,indexOfelement,item,item.type)"
                  style="background-color: transparent; color: #eb0808;" >delete</mat-icon>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <button (click)="save()" style="background: #dc4405; padding: 10px 20px;" class="btn"><b>Save</b></button>
  </div>
  </div>
 
