:host {
    white-space: nowrap;
  }

  .wrapper {
    text-align: center;
}
  
  .col_container {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .column_wrapper {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    margin: 0 10px;
    padding: 5px;
  }
  
  .column {
      background: rgba(white, 0.5);
    display: inline-block;
    width: 300px;
    margin: 0 6px;
    vertical-align:top;
    height: inherit;
  }
  
  .column_header {
    color: black;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: blue;
  }
  
  .card_container {
    overflow: auto;
    display: block;
    height: auto;
    white-space: normal;
    max-height: 94%;
    padding: 3px;
  }
  
  .card {
    display: inline-block;
    width: 100%;
    background-color: white;
    min-height: 20px;
    margin: 5px 0px;
    cursor: pointer;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: .3;
  }
  
  /* Animate items as they're being sorted. */
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 2000;
    height: auto;
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  