@import '~@angular/material/prebuilt-themes/indigo-pink.css';
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
.mat-select-trigger {color: blue; }th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}table{
  background-color: rgb(238, 232, 232);}
td{
  color:rgb(126, 116, 116);
}th{
  color:black;
}.form-elegant .font-small {
  font-size: 0.8rem;
  overflow-x: hidden;
  overflow-y: auto;  }  .form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }  .form-elegant .z-depth-1-half,
  .form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }  .form-elegant .modal-header {
  border-bottom: none; }  .modal-dialog .form-elegant .btn .fa {
    overflow-y: initial !important;
  color: #2196F3
!important; }  .form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400;
  font-weight: 400;
  height: 400px; }  .button-container {
    display: inline-block;
    margin-right: 10px;
    /* float: right !important;
    text-align: right !important; */
  }
  .button-container-2 {
    display: inline-block;
    margin-right: 10px;
    cursor: default !important;
  }  .bookings {
    margin: 35px,35px,35px,35px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }  .action_buttons {
    width: 40px;
    height: 40px;
  }  .fixedPositionOptions{
    /* position: fixed;
    z-index: 1; */
    margin-top: -30px;
    width: 100%;
    margin-bottom: 0px;;
    /* top: 50; */
    /*background-image: linear-gradient(45deg, rgb(94, 30, 65) 0px, rgb(183, 59, 126) 100%);*/
    /* background-color: grey; */
    /* color: white; */
}.mat-grid-tile .createFoodbtn {
  /* justify-content: flex-start !important ; */
  align-items: flex-end !important;
}

/* .mat-column-comment {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
} */
