<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner><div class="col-12 m-auto">
    
    <div class="fixedPositionOptions" *ngIf="!_loading">
      <mat-grid-list cols="3" rowHeight="60">
        <button mat-raised-button *ngIf="showClearButton" color="accent" style=" color: #7C2855
            ; margin-right: 2vh;" (click)="clearFilters()">
            Clear Filters
        </button>
      </mat-grid-list>
   
    </div>    

    <div class="mat-elevation-z8" >
   
        <table mat-table [dataSource]="dataSource" matSort *ngIf="!_loading">       
           <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let row">
            <span class="text-truncate">{{row.emp_name}} </span>
        </td>
        <!-- <td mat-cell *matCellDef="let row"> {{row.food_name}} </td> -->
        </ng-container>    

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row">
                <span class="text-truncate">{{row.description}} </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
            <td mat-cell *matCellDef="let row">
                <span class="text-truncate">{{row.comment}} </span>
            </td>
          </ng-container>     

        <ng-container matColumnDef="request_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
            <td mat-cell *matCellDef="let row">
                <span class="text-truncate">{{row.request_date.toString().slice(0, 10)}} </span>
            </td>
        </ng-container>    

        <ng-container matColumnDef="total_price">
            <th mat-header-cell *matHeaderCellDef> Total Price </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newRow.emp_id || !row.emp_id || row.emp_id!==newRow.emp_id">
                    <span class="text-truncate">{{row.total_price}} </span>
                </ng-container>
                <ng-container *ngIf="newRow.emp_id && row.emp_id && row.emp_id===newRow.emp_id">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="New Food price" name="total_price" [(ngModel)]="row.total_price">
                      </mat-form-field>
                </ng-container>
            </td>
        </ng-container>       

     <!--Edit Buttons-->
        <ng-container matColumnDef="edit" >
            <th mat-header-cell *matHeaderCellDef>Edit Price</th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="!newRow.emp_id || !row.emp_id || row.emp_id!==newRow.emp_id">
                    <div class="button-container">
                        <button
                        (click)="handleEdit(row)"
                          class="action_buttons"
                          style="background-color: #889700; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>create</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="newRow.emp_id && row.emp_id && row.emp_id===newRow.emp_id">
                    <button
                        (click)="confirmEdit()"
                        [disabled]="editDisabled"
                          class="action_buttons"
                          style="background-color: #0D9C31; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>check</mat-icon>
                    </button>    

                    <button
                        (click)="cancelEdit()"
                        [disabled]="editDisabled"
                          class="action_buttons"
                          style="background-color: #E40909; color: #fff;"
                          mat-mini-fab
                        >
                          <mat-icon>close</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.status != 1" class="button-container">
            <button
            (click)="changeStatus(row.special_id, 1)"
              class="action_buttons"
              style="background-color: #7C2855; color: #fff;"
              mat-mini-fab
            >
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <div *ngIf="row.status != 2" class="button-container">
            <button
            (click)="changeStatus(row.special_id, 2)"
              style="background-color: #EC7E00; color: #fff;"
              class="action_buttons"
              mat-mini-fab
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
    </table>    

    <mat-paginator
        *ngIf="!_loading"
        [pageSizeOptions]="[10, 20, 50]"
    >
    </mat-paginator>   

 </div>
</div>


