.header-container {
    display: flex;
    justify-content: center;
}
h3 {
    color: #e94e0f;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;
}

.alignleft{
    /* display: flex;
    align-items: left;
    justify-self: start; */
    text-align: left;
    overflow: auto;
    height: 60px;
}

