<mat-card style="height:410px" class="shadow">
  <mat-card-content>
    <ng-container *ngIf="foodimage=='none'">
      <img mat-card-image src="assets/images/default.png" width="150" height="150" alt="Photo of food" style="vertical-align:middle">
    </ng-container>
    <ng-container *ngIf="foodimage!='none'">
      <img mat-card-image src="{{imageurl}}" width="150" height="150" alt="Photo of food" style="vertical-align:middle">
    </ng-container>

    <h3 class="font-weight-bold">{{foodname}}</h3>
    <hr />
    <div style="display:flex; justify-content: space-between;">
      <p><span class="font-weight-bold">Quantity:</span> {{quantity}}</p>
      <p><span class="font-weight-bold">Total Price: </span>Rs {{price*quantity}}</p>
    </div>
    <div class="alignleft">
      <p *ngIf="comment!=null"><span class="font-weight-bold">Comment: </span>{{comment}}</p>
      <p *ngIf="comment==null">No Comments</p>
    </div>
    <p style="text-align: left;"><span class="font-weight-bold">Order Date:</span> {{orderdate.substr(0, 10)}}</p>
    <hr />
    <button *ngIf="status==0" (click)="cancelOrder(orderid, foodid, orderdate)"
      style="background-color: #eb0808; color: #fff;" mat-raised-button>Cancel Order
    </button>
    <button *ngIf="status==1" disabled style="background-color:  #0D9C31; color: #fff;" mat-raised-button>Approved Order
    </button>
    <button *ngIf="status==2" disabled style="background-color:  #EC7E00; color: #fff;" mat-raised-button>Rejected Order
    </button>
  </mat-card-content>
</mat-card>