<div *ngIf="!show">
  <router-outlet *ngIf="!show"> </router-outlet>
</div>

<div *ngIf="show">
  <app-navigationbar></app-navigationbar>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
