<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div class="bookings" *ngIf="!_loading">
  <div class="header">
    <mat-grid-list cols="6" rowHeight="60">
      <mat-grid-tile>
        <!-- Search -->
        <mat-form-field>
          <mat-label style="color: rgb(4, 70, 156);">Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mine Frite" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  &nbsp;
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="request_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
        <td mat-cell *matCellDef="let row">
          {{ ChangeViewDateFormat(row.request_date) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
        <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">
          {{ row.description.substr(0, 10) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td mat-cell *matCellDef="let row">{{ row.total_price }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">

          <div class="button-container">
            <button class="pendingbtn" mat-mini-fab *ngIf="getStatus(row.status)" [hidden]="row.status != 0"
              (click)="cancelRequest(row.special_id)">
              <mat-icon>hourglass_empty</mat-icon>
            </button>
          </div>

          <div class="button-container">
            <button style="cursor: context-menu;" class="approvebtn" mat-mini-fab *ngIf="getStatus(row.status)"
              [hidden]="row.status != 1">
              <mat-icon>done</mat-icon>
            </button>
          </div>

          <div class="button-container">
            <button style="cursor: context-menu;" class="delbtn" mat-mini-fab *ngIf="getStatus(row.status)"
              [hidden]="row.status != 2">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>
</div>