@import "~@angular/material/prebuilt-themes/indigo-pink.css";
table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 500px;
}
.mat-select-trigger {
  color: blue;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.mat-select-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

table {
  background-color: rgb(238, 232, 232);
}
td {
  color: rgb(126, 116, 116);
}

th {
  color: black;
}

.button-container {
  /* display: inline-block; */
  margin-right: 10px;
 

  /* float: right !important;
    text-align: right !important; */
}
.approvebtn {
  background-color: orange !important;
}
.pendingbtn {
  background-color: brown !important;
}
.delbtn {
  background-color: red !important;
}

.bookings {
  margin: 35px, 35px, 35px, 35px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action_buttons {
  width: 40px;
  height: 40px;
}

.fixedPositionOptions {
  /* position: fixed;
    z-index: 1; */
  margin-top: -30px;
  width: 100%;
  margin-bottom: 0px;
  /* top: 50; */
  /*background-image: linear-gradient(45deg, rgb(94, 30, 65) 0px, rgb(183, 59, 126) 100%);*/
  /* background-color: grey; */
  /* color: white; */
}

.mat-grid-tile .createFoodbtn {
  /* justify-content: flex-start !important ; */
  align-items: flex-end !important;
}

button{
  outline: none;
}
