<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div *ngIf="!_loading">
  <div class="padding" >
    <mat-grid-list cols="3" rowHeight="55">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- Search -->
        <mat-form-field>
          <mat-label >Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Mine Frite"
            [(ngModel)]="search"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="dropdowns">
          <mat-label>Category</mat-label>
          <select
            matNativeControl
            [(ngModel)]="selectedCategory"
            (change)="handleDropdownChange()"
          >
            <option [value]="'0'">All</option>
            <option
              *ngFor="let category of categoryOptions"
              [value]="category.category_id"
            >
              {{ category.category_name }}
            </option>
          </select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button
        mat-raised-button
        *ngIf="showClearButton"
        class="clearButton"
        (click)="clearFilters()"
      >
        Clear Filters
      </button>
      </mat-grid-tile>
    </mat-grid-list> 
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
        <td mat-cell *matCellDef="let row">{{ row.emp_name }}</td>
      </ng-container>

      <ng-container matColumnDef="food_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Name</th>
        <td mat-cell *matCellDef="let row">{{ row.food_name }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Quantity Ordered
        </th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="totalprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td mat-cell *matCellDef="let row">{{ row.totalprice }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <div class="button-container" *ngIf="row.status != 3">
            <button
              (click)="handleEdit(row.order_id, row.food_id, row.orderDate, 3)"
              class="action_buttons"
              style="background-color: #889700; color: #fff;"
              mat-mini-fab
            >
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <div class="button-container" *ngIf="row.status == 3">
            <button
              class="action_buttons"
              style="background-color: #0e8f43; color: #fff;"
              mat-mini-fab
            >
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>

</div>
