.form-elegant .font-small {
    font-size: 0.8rem;}
    
    .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
    
    .form-elegant .z-depth-1-half,
    .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
    
    .form-elegant .modal-header {
        height: 40px;
    border-bottom: none; }
    
    .modal-dialog .form-elegant .btn .fa {
        overflow-y: initial !important;
    color: #2196f3!important;
     }
    
    .form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 500;
    height: auto;
    overflow-y: auto; }
body {
    font-family: "Lato", sans-serif;
    overflow: auto;
  }

  .spinner{
    margin: 0 auto;
  }
  
  .error{
    color: red;
  }
  
  * {
    box-sizing: border-box;
  }

  
  /* Add styles to the form container */

  /* Full-width input fields */
    input[type=text],input[type=number],input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 5px 5px 0;
    border: none;
    background: #f1f1f1;
  }
  .radioContainer{
    width: 100%;
    padding: 15px;
    margin: 5px 5px 5px 0;
    border: none;
    background: #f1f1f1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  input[type=text]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #455A64;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity:1.0;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .main {
    padding: 0px 10px;
  }
  
  .ng-invalid.ng-touched {
    border-color: red;
  }
  .error-block {
    color: red;
  }
  
  