<spinner class="spinner" *ngIf="_loading" [title]="_loadingMessage"></spinner>
<div class="modal-content form-elegant">
  <div class="modal-header text-center">
    <h3
      class="modal-title w-100 dark-grey-text font-weight-bold"
      id="myModalLabel"
    >
      Create a food entry
    </h3>
  </div>

  <div class="modal-body mx-6">
    <form
      [formGroup]="addFoodForm"
      (ngSubmit)="createFood()"
      class="container"
      style="overflow: auto;"
    >
      <!-- https://mdbootstrap.com/docs/angular/forms/basic/   CSS-->
      <div class="form-group">
        <input
          type="text"
          placeholder="Food Name"
          class="form-control"
          formControlName="foodname"
          required
        />
      </div>
      <div>
        <span *ngIf="!foodname.valid && foodname.touched" class="error-block">
          <span *ngIf="foodname.hasError('required')">
            Please provide a food name
          </span>
        </span>
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="Food Description"
          class="form-control"
          formControlName="description"
          required
        />
      </div>
      <div>
        <span
          *ngIf="!description.valid && description.touched"
          class="error-block"
        >
          <span *ngIf="description.hasError('required')">
            Please provide a food description
          </span>
        </span>
      </div>
      
      <div>
        <mat-form-field appearance="fill" >
          <mat-label>Category Name</mat-label>
          <select
            matNativeControl
            (change)="handleCategory($event)"
            formControlName="category"
          >
            <option
              *ngFor="let categorydata of allCategories"
              [value]="categorydata.category_id"
            >
              {{ categorydata.category_name }}
            </option>
          </select>
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <input
          type="number"
          placeholder="Food Price"
          class="form-control"
          formControlName="price"
          required
          min=1
        />
      </div>
      <div>
        <span *ngIf="!price.valid && price.touched" class="error-block">
          <span *ngIf="price.hasError('required')">
            Please provide a valid price
          </span>
        </span>
      </div>

      <div class="form-group">
        <input
          type="number"
          placeholder="Food Limit"
          class="form-control"
          formControlName="limit"
          required
          min=1
        />
      </div>
      <div>
        <span *ngIf="!limit.valid && limit.touched" class="error-block">
          <span *ngIf="limit.hasError('required')">
            Please provide a limit
          </span>
        </span>
      </div>

      <div class="radioContainer form-control">
        Type of food:
        <mat-radio-group aria-label="isveg?" formControlName="isVeg" required>
          <mat-radio-button value="1">Veg</mat-radio-button>
          <mat-radio-button value="2">Non-Veg</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-group">
        <input 
          type="file" 
          accept=".png, .jpg, .jpeg" 
          name="upload"
          (change)="handleFileInput($event.target.files)">
          
      </div>
         
      <div class="text-center mb-3">
        <button
          type="submit"
          mdbBtn
          style="background-color: orange;"
          block="true"
          rounded="true"
          class="btn"
          mdbWavesEffect
        >
          Confirm Food
        </button>
      </div>
    </form>
  </div>
</div>
