// global styles and changing bulma variables

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html, body {
    height: 100%;
}

html {
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        #cac9c9c7 1%,
        #ffffff 100%
      )!important; /* Chrome10+,Safari5.1+ */
      width: 100%;
}