.header-container {
    /* needed styles below */
    display: flex;
    justify-content: center;
    color: #e94e0f;
}

.alignleft{
    /* display: flex;
    align-items: left;
    justify-self: start; */
    text-align: left;
    overflow: auto;
    height: 60px;
}

button{
    outline: none;
}
