<mat-card style="height:450px">
    <mat-card-header class="header-container ">
      <mat-card-title>{{name}}</mat-card-title>
    </mat-card-header>

    <ng-container *ngIf="foodimage=='none'">
      <img mat-card-image src="assets/images/default.png" width="150" height="150" alt="Photo of food" style="vertical-align:middle">
    </ng-container>
    <ng-container *ngIf="foodimage!='none'">
      <img mat-card-image src="{{url}}" width="150" height="150" alt="Photo of food" style="vertical-align:middle">
    </ng-container>

    <mat-card-content>
      <div class="alignleft ">
        <p>{{description}}</p>
      </div>
      <div style="text-align: left;">
        <p><span class="font-weight-bold">Price:</span> Rs {{price}}</p>
        <p><span class="font-weight-bold">Veg:</span> {{isVeg}}</p>
        <p><span class="font-weight-bold">Max/Person: </span>{{limit}}</p><hr/>
      </div>
    
    </mat-card-content>
    <div class="container">
      <div class="row">
      <div class="col-8">
        <input type="number" [(ngModel)]="quantity" placeholder="Quantity" class="form-control" min="1" max={{limit}} />
      </div>
      <div class="col-4">
        <button (click)="emitTotalPrice(quantity*price, foodId, name, quantity)" class="action_buttons"
          style="background-color: #0d9c31; color: #fff;" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>


</mat-card>