.mat-button-toggle-group {
  width: 100%;
  background: -webkit-linear-gradient(
    to left,
    #c02425,
    #f0cb35
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c02425,
    #f0cb35
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mat-button-toggle {
  background-color: transparent;
  width: 100%;
  color: white;
  border: 0.5px double black !important;
}
.mat-button-toggle-checked {
  background-color: #7c2855 !important;
}
