<style>
  @keyframes myanim {
    0% {
      transform: rotateY(0deg);
      opacity: 0;
    }

    /* 50% {
          transform: rotateY(360deg);
      } */
    100% {
      opacity: 100;
      transform: rotateY(1080deg);
    }
  }

  .xd {
    animation: myanim 5s;
    /*animation-iteration-count: 3;*/
  }
</style>
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg"
  class="headerStyle"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand">
      <b>
        <img
          src="assets/images/sdfoodx.png"
          alt="homepage"
          class="dark-logo"
          width="160px"
          style="margin-left: -15px"
        />
      </b>
      <img
        src="assets/images/sdfood_favicon.png"
        alt="homepage"
        class="dark-logo xd"
        height="25px"
        style="margin-left: -45px"
      />
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <!--Canteen-->
      <li class="nav-item" *ngIf="_role == 'canteen'">
        <a
          class="nav-link waves-light"
          [routerLink]="['managefood']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>menu_book</mat-icon> Manage Food
        </a>
      </li>

      <li class="nav-item" *ngIf="_role == 'canteen'">
        <a
          class="nav-link waves-light"
          [routerLink]="['schedulefood']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>schedule</mat-icon> Schedule Food
        </a>
      </li>

      <li class="nav-item" *ngIf="_role == 'canteen'">
        <a
          class="nav-link waves-light"
          [routerLink]="['managerequests']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>restaurant</mat-icon> Special Requests
        </a>
      </li>

      <li class="nav-item" *ngIf="_role == 'canteen'">
        <a
          class="nav-link waves-light"
          [routerLink]="['report']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>schedule</mat-icon> Report
        </a>
      </li>

      <!-- Dropdown -->
      <li
        [routerLinkActive]="['active']"
        class="nav-item dropdown"
        dropdown
        *ngIf="_role == 'canteen'"
      >
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mat-icon>fastfood</mat-icon> Orders<span class="caret"></span>
        </a>
        <div class="dropdown-content">
          <a
            class="dropdown-link"
            [routerLink]="['dailyorders']"
            [routerLinkActive]="['active']"
            mdbWavesEffect
            href="#"
          >
            <mat-icon>today</mat-icon>Daily Orders
          </a>
          <a
            class="dropdown-link"
            [routerLink]="['manageorders']"
            [routerLinkActive]="['active']"
            mdbWavesEffect
            href="#"
          >
            <mat-icon>list</mat-icon>All Orders
          </a>
        </div>
      </li>

      <!--Employee-->
      <li class="nav-item" *ngIf="_role == 'employee'">
        <a
          class="nav-link waves-light"
          [routerLink]="['myorders']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>local_dining</mat-icon> My Orders
        </a>
      </li>
      <li class="nav-item" *ngIf="_role == 'employee'">
        <a
          class="nav-link waves-light"
          [routerLink]="['orderfood']"
          [routerLinkActive]="['active']"
          mdbWavesEffect
        >
          <mat-icon>add_circle</mat-icon> New Order
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" *ngIf="_role == 'employee'" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
          [routerLinkActive]="['active']"
        >
          <mat-icon>restaurant</mat-icon> Special Requests<span
            class="caret"
          ></span>
        </a>
        <div class="dropdown-content">
          <a
            class="dropdown-link"
            [routerLink]="['newspecialrequest']"
            [routerLinkActive]="['active']"
            mdbWavesEffect
            href="#"
          >
            <mat-icon>add_circle</mat-icon>New Request
          </a>
          <a
            class="dropdown-link"
            [routerLink]="['myspecialrequest']"
            [routerLinkActive]="['active']"
            mdbWavesEffect
            href="#"
          >
            <mat-icon>menu_book</mat-icon>My Requests
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mat-icon>person</mat-icon> {{ username }}<span class="caret"></span>
        </a>
        <div class="dropdown-content">
          <a class="dropdown-link" (click)="logout()" mdbWavesEffect>
            <mat-icon>exit_to_app</mat-icon>Logout
          </a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
