.headerStyle{
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  /*background-image: linear-gradient(45deg, rgb(94, 30, 65) 0px, rgb(183, 59, 126) 100%);*/
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c02425, #f0cb35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c02425, #f0cb35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.active {
/* background-color: #19D57E !important; */
/* text-decoration-color: #19D57E !important; */
/* text-decoration: underline !important;
text-decoration-color: #19D57E !important; */
border-bottom: 3px solid white !important;
display: inline-block;
padding-bottom: 5px;
}

li a{
  color:white !important
}

/* The dropdown container */

.dropdown-link:hover{

background-color: orange;
} 
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a { 
  float: none;
  color: black !important; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown:hover {
  background-color: inherit;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* https://uigradients.com/#Lizard */
